.App {
  text-align: center;
}
.project-board {
  border: 1px solid red;
  display: flex;
}
.add-list-button {
  height: 50px;
  width: 220px;
  margin: 10px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  background: #FFEBCD;
  cursor: pointer;
}
